* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    gap: 600px;

    .container-top , .container-bottom{
        display: flex;
        gap: 1000px;
        justify-content: space-between;
    }

    #aqua , #blue , #grey , #green {
        padding: 20px;
        cursor: pointer;
    }

    #aqua {
        background-color: bisque;
    }

    #blue {
        background-color: chocolate;
    }

    #grey {
        background-color: darkcyan;
    }

    #green {
        background-color: yellowgreen;
    }
}
